.myemail {
    font-size:1rem;
    color:white
}
.myemail:hover, .contact-icon:hover{
    color:#DDD
}
.mail-container{
    display: flex;
    align-items: center;
}

.contact-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white ;
    margin-top: 3rem;
    padding: 2rem;
}
.touch{
    color:white ; 
}

.contact-icon{
    color:white
}
.contact-text{
    font-size:1.5rem;
    padding: 2rem;
    color:white;
}

.cards-row{
    padding-top: 2rem;
}