.no-centered{
     text-align: left;
}
.align-right {
    text-align: right;
}
.azul-oscuro{
    color: rgb(39, 132, 185);
}
.intro-text{
    color:white
}
.intro{
    height: 100vh;
    background: linear-gradient(257.1deg, #AE5BD6 27.51%, #4052F0 113.53%);
    background-blend-mode: screen;
    color:white;
    background-image: url(../images/Vector\ 12.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}
.social-media-back{

    color:#aaa;
    background-color: #FFF;
    display:flex;
    justify-content: space-between;
    border-radius: 3000px;
    align-items: center;
    padding: 0.5rem;


}
.media-text{
    margin:0;
    color:lightseagreen;
    margin-left: 2rem;
}



@media  only screen and ( max-width: 900px) {
    .intro {
        background-image: url(../images/Vector\ 12\ \(1\).png);
        padding-top: 6rem;
        height: 100vh;

    }
    .social-media-back{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* background-color: transparent; */
        width: 50% !important;    }
    .social-container{
        margin-top: 2rem;
        display:flex;
        justify-content: center;
        
    }
    .media-text{
        display:none;

    
    }
    .no-centered{
        text-align: center;
   }
   h5 {
       margin-top:-20px !important;
       margin-bottom: 3rem !important;
   }
   .my-name{
    font-size: 3rem;
    padding-bottom: .5rem;
}
}
@media  only screen and ( min-width: 900px) {

    .my-name{
        font-size: 5rem;
        margin-bottom:0;
    }
    .subtitle{
        font-size: 2rem;
    }
    p.no-centered{
        padding-top: 3rem;
    }
    .media-icons{
        margin-right: 1rem;
    }
}