.andyimg {
  height: 5rem;
  width: 5rem;
}
.nav-link {
    letter-spacing: 2px;
}

@media only screen and (max-width: 760px) {
  .navigation {
    position: absolute;
  }
  .nav-container {
    z-index: 100;
    margin-top: 20px;
    position: absolute;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3rem !important;
  }
  .nav-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    /* text-transform: lowercase; */
    padding: 0  4px !important;
}
}

@media only screen and (min-width: 760px) {
  .nav-container {
    padding: 0;
    margin: 0;
    position: fixed !important;
    left: 70px;
    top: 40px;
    width:auto !important;
    display: flex;
    justify-content: center;
  }
  .nav-link{
      padding:1rem 0 !important;
      font-family: 'Roboto', sans-serif;
      color: #07728e;
  }
  .nav-link:first-child{
    margin-top: 1rem !important;
}
}
