.andyimg {
    height: 5rem;
    width: 5rem;
}

.nav-link {
    padding:4px 8px !important ;
}

@media  only screen and ( max-width: 760px) {
    .navigation {
        position:absolute;
    }
    .nav-container {
        z-index: 100;    
    }
    .nav-bar{
        display:flex;
        align-items:center;    
        justify-content: flex-end;
        padding:3rem !important;
        }
    .nav-link {
        color:white;
    }

}
