.cards{
    padding: 1rem;
}
.project-name{
    text-align:center ;
}
.project-button{
    text-align:center ;
}
.card-img{
    border-radius: 40px !important;
}
.card-title{
    color:#07728e;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}